.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  .navbar.mobile {
    padding: 5px;
    background-color: transparent;
  }
  
  .navbar.desktop {
    background-color: #00000096;
  }
  
  .navbar.scrolled {
    background-color: transparent;
  }
  
  .logo-n.scrolled {
    display: block;
    visibility: hidden;
    background: none;

  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links.scrolled {
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 16rem;
    right: 5%;
    background-color: #00000096;
    border-radius: 15px;
    padding: 10px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links.scrolled li a {
    color: orange;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 5px;
    font-size: 20px;
    
  }
  .nav-links.scrolled li a:hover {
    color: grey;
    
  }
  
  .call-now {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: transparent;
    text-decoration: none;
    /* background: url('hero-background.jpg') center center no-repeat; */
  }
  
  .call-now.scrolled {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: orange;
    color: yellow;
  }
  
  .menu-icon {
    right: 10px;
    position: relative;
    color: green;
    cursor: pointer;
  }
  
  .modal {
    top:0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 66%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .close {
    color: white;
    cursor: pointer;
    align-self: flex-end;
  }
  